body{
    overflow-x : hidden;
}
.head_explore{
    position: relative;
    margin-top:130px;
  
}
.explore-grid_explore{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:150px;
    margin-left: 100px;
    margin-right: 100px;
    
    }
    
    .main-container{
        background-color:var(--white-text);;
    }
    .explore-card-cover{
    width:280px;
    border-radius:15px;
    position:relative;
    height: 300px;
    box-shadow: 5px 5px 5px #ff007343;
    background-color: var(--card-background);
    }
    
    .explore-card-image{
    height:50%;
    width:100%;
    object-fit:cover;
    border-radius:15px;
    }
    
    .explore-card{
    margin:12px 0px 24px 0px;
    padding: 10px;
    border-radius:15px;
    }
    
    .delivery-time{
    position:absolute;
    right: 5px;
    bottom:155px;
    opacity:0.8;
    background-color: var(--white-text);
    backdrop-filter: blur(4px);
    font-weight: 600;
    font-size: 12px;
    padding: 6px;
    border-radius:10px;
    font-family: "Poppins", sans-serif;;
    }
    
    .discount{
    position: absolute;
    width:80px;
    left: 0px;
    bottom: 160px;
    background-color:var(--constant-pink);
    color: var(--constant-white);
    text-align: center;
    text-wrap: wrap;
    padding:5px;
    border-radius: 0px 8px 8px 0px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    }
    
    .star{
    color: var(--constant-white);
    height: 15px;
    margin-top:2px;
    
    }
    
    .res-row{
    display:flex;
    justify-content: space-between;
    padding: 8px;
    }
    
    .res-name{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    color: var(--constant-pink);
    }
    
    .res-rating{
    padding: 4px 4px 4px 4px;
    font-size:13px;
    font-weight: 600;
    color: var(--constant-white);
    font-family: "Poppins", sans-serif; 
    background-color: var(--constant-pink);
    border-radius: 6px;
    height:30px
    }
    
    .res-cuisine{
        max-width: 56%;
        font-size: 12px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color:var(--plain-text);
    }
    
    .res-cuisine-tag{
        margin-right:4px;
        color:var(--plain-text);
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
    
    .approx-price{
        font-size: 14px;
        color:var(--plain-text);
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
    
    .explore-bottom{
      display: flex;
      align-items: center;  
      max-width: 100%;
      padding-left: 10px;
      margin-top: 10px;
    }
    
    .res-bottom-text{
        font-size: 10px;
        color:var(--plain-text);
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
    
    }
    .card-seperator{
        height:1px;
        margin: 10px 0px 5px;
        background-color: var(--plain-text);
        opacity: 0.2;
    }


    .listing_explore{
        margin-top:30px;
        margin-bottom:30px;
        margin-left:20px;
        margin-right:20px;
      }
      
      .top_explore{
      position: relative;
      width: 134px;
      height: 108px;
      left: 26%;
      top: 30px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      line-height: 108px;
      color: var(--plain-text);
      }
      
      .restaurant_explore{
      position: absolute;
      width: 395px;
      height: 108px;
      left: 36.5%;
      top: 30px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      line-height: 108px;
      background: var(--main-heading);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      }
      
      .chain_explore{
      position: absolute;
      width: 215px;
      height: 108px;
      left: 61%;
      top: 30px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      line-height: 108px;
      color: var(--plain-text);
      }
      
      .vector-7_explore{
      position: absolute;
      width: 430px;
      height: 169px;
      left: -53px;
      top: 80px;
      }
      
      .vector-8_explore{
      position: absolute;
      width: 350px;
      height: 87px;
      left: 1170px;
      top: 30px;
      }
      
      .description_explore{
      position: absolute;
      width: 896px;
      height: 38px;
      left: calc(50% - 896px/2);
      top: 140px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;
      text-align: center;
      text-transform: capitalize;
      color: var(--plain-text);
      opacity: 0.8;
      
      }  
